<!-- About whooo???? -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href='static\css\main.css'>
</head>
{% include "header.html" %}

<body class="about-body">
    <div class="text-container">
        <div class="text">
            <h1>About</h1>

            <h2>Background</h2>
            <p class="first">
                This library is a free and open source project for anyone to store and catalogue their books digitally.
                This project came about by a book enthusiast named John Hackmann. John has been a collector of books for
                many years, and has accumulated thousands of books that have been published over the century. As the
                library grew, the need for a catalogue and searching website was in need. he gathered up developers to help
                him build a digital library where he can freely know where each book is stored and can easily bring in
                new books to catalogue for his entire library.


            </p>
            <img src="static\images\books.jpg" class="image">

            <h2>The Team</h2>
            <p>
                John Hackmann<br>
                John Whitney<br>
                Alex Reynen<br>
                Jared Castillo.
            </p>

            <h2>Technologies</h2>
            <p>
                Flask, Gunicorn, Docker, Datatables, Python.
            </p>
            <p>
                We use <a href="https://openlibrary.org/">Open Library</a> to access to gather data on the books users
                enter onto our database. It has been a helpful
                tool and website in gathering data on whatever book that you so find in the Hackmann Library.
            </p>



            <h2>Contact</h2>
            <a href="https://github.com/HackmannInterns/bookshelfdb">Github</a>
            <a href="https://hub.docker.com/r/alexreynen/bookshelfdb">Docker</a>
            <a href="mailto:hackmanninterns@gmail.com">Contact us at hackmanninterns@gmail.com</a>

        </div>

    </div>


    <!-- introduction -->
    <!-- maybe some pictures of some books -->
    <!-- background
         Values (maybe)
         Team
         Contact 
         References-->
</body>