<!-- About whooo???? -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="static\images\favicon.png">
</head>
{% include "header.html" %}

<body class="about-body">
    <div class="text-container">
        <div class="text">
            <h1>About</h1>

            <h2>Background</h2>
            <p class="first">
                This library is a free and open source project for anyone to store and catalog their books digitally.
                This project came about by a book enthusiast named John Hackmann. John has been a collector of books for
                many years, and has accumulated thousands of books that have been published over the centuries. As the
                library grew, the need for a catalog and searching website was in need. He gathered up developers to
                help him build a digital library where he can freely know where each book is stored and can easily add
                new books to catalog for his entire library.
            </p>
            <img src="static\images\books.jpg" class="image">

            <h2>The Team</h2>
            <p>
                Alex Reynen<br>
                Jared Castillo<br>
                John Whitney
            </p>

            <h2>Technologies</h2>
            <p>
                We use Python as the main language for our development. Flask is used as our lightweight web framework,
                and Gunicorn is used to serve the application. We use DataTables to present the data held in our SQLite
                database in a dynamic and interactive way. Finally, we use Docker to deploy the project consistently
                across various environments.
            </p>
            <p>
                We use <a href="https://openlibrary.org/">Open Library</a>'s API to provide metadata on the books users
                enter into the database. It has been a very helpful tool to gather data on whatever book that you so
                find in the library, complete with helpful information for the user.
            </p>

            <h2>Contact the Developers</h2>
            <a href="https://github.com/HackmannInterns/bookshelfdb">GitHub</a>
            <a href="https://hub.docker.com/r/alexreynen/bookshelfdb">DockerHub</a>
            <a href="mailto:hackmanninterns@gmail.com">Email</a>

        </div>

    </div>
</body>