<!-- Hello Admin -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href='static\css\main.css'>
    <script src="static/scripts/jquery-3.7.1.min.js.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="static\images\favicon.png">
</head>
{% include "header.html" %}

<body class="form1">
    <form class="" method="POST">
        <div class="text-container">
            <div class="perm-block" style="margin: 5%;">
                <h1>Admin Property Changes:</h1>
                <label for="viewer">Viewers have add permissions</label>
                <input type="checkbox" id="viewer" name="viewer" value=true {% if Admin.viewer_can_add %}checked{%
                    endif %}><br>

                <label for="editor">Editors have remove permissions</label>
                <input type="checkbox" id="editor" name="editor" value=true {% if Admin.editor_can_remove %}checked{%
                    endif %}><br>
            </div>
            <div class="address-block">
                <label for="address">Default Address:</label>
                <input class="address" id="address" type="text" name="address" value="{{ Admin.default_address }}">
            </div>
            <div class="header-block">
                <label for="header_name">Webpage Title:</label>
                <input class="header_name" id="header_name" type="text" name="header_name"
                    value="{{ Admin.header_name }}">
            </div>
            <p id="reminder">You have unsaved changes. Please hit the save button.</p>
            <input type="submit" value="Save Changes">
            <br>
            <br>
        </div>
    </form>
    <br>
    <div class="text-container">
        <div style="margin: 5%;">
            <h1 style="text-align: center;">Database Changes:</h1>
            <div class="database-block">
                <div class="separator">
                    <button class="button" onclick="location.href='/admin?q=export';">Export Database</button>
                </div>
                <div class="separator">
                    <button class="button" onclick="openPopup('clear')">Clear Cache</button><br>
                </div>
                <div class="separator">
                    <button class="button" onclick="openPopup('import')">Import Database</button><br>
                </div>
                <div class="separator">
                    <button class="button" onclick="openPopup('delete')">Delete Database</button>
                </div>
            </div>
        </div>
    </div>
    <div class="versioning">
        <p>Current Version:
            <span id="current-version"
                style="color: {% if Version.newest and Version.newest != Version.current %}red{% elif Version.newest %}green{% else %}{% endif %};">
                {{ Version.current }}
            </span>
        </p>
        <p id="newest-version" style="display: {% if Version.newest %}block{% else %}none{% endif %};">Newest Version:
            <a id="version-link" style="text-decoration:none;" href="{{ Version.newest_link }}"
                title="View Release Notes">{{ Version.newest }}</a>
        </p>

        <p id="update-info"
            style="display: {% if Version.newest and Version.newest != Version.current %}block{% else %}none{% endif %};">
            To update, if you're using Docker, run <code>docker compose pull && docker compose up -d</code>.<br>If
            you're running with gunicorn or python directly, pull the project's update and restart.</p>
        <p id="update-failed" style="display: {% if Version.newest %}none{% else %}block{% endif %};">Unable to check
            for current version, check our <a href="https://github.com/HackmannInterns/bookshelfdb">GitHub</a> for
            status.</p> <button id="refresh-button" class="refresh-button">↻</button>
    </div>

    <div class="popup-overlay" id="popup-overlay" onclick="closePopup()"></div>

    <div class="popup" id="popup">
        <div class="popup-content">
            <span class="close-btn" onclick="closePopup()">&times;</span>
            <h2>Continue?</h2>
            <p></p>
            <form style="display: none;" action="/admin?q=import" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" />
                <br>
                <br>
                <input type="submit" />
                <br>
            </form>
            <button class="button" onclick="">Confirm</button>
        </div>
    </div>

    <script>
        function openPopup(ref) {
            document.getElementById("popup-overlay").style.display = "block";
            document.getElementById("popup").style.display = "block";

            button_href = "/admin";
            h2_text = "Continue?";
            info_text = "";

            head2 = document.querySelector("#popup > div > h2");
            par = document.querySelector("#popup > div > p");
            button = document.querySelector("#popup > div > button");
            import_form = document.querySelector("#popup > div > form");

            par.style.display = "block";
            button.style.display = "inline-block";
            import_form.style.display = "none";

            switch (ref) {
                case "clear":
                    head2_text = "Clear Cache"
                    button_href += "?q=clear"
                    info_text = "This action will clear the app's cache.\nThis only regards searching for books by their IDs, Titles, and Authors."
                    break;
                case "import":
                    head2_text = "Import Library"
                    info_text = "Select a file you've previously exported.\nThis action will append, not replace.";
                    // par.style.display = "none"
                    button.style.display = "none"
                    import_form.style.display = "block"
                    break;
                case "delete":
                    head2_text = "Delete Database"
                    button_href += "?q=delete"
                    info_text = "This action will delete your library.\nThere is no way to recover from this, your data will be gone.\nEnsure you have a backup first."
                    break;
                default:

            }
            if (par) {
                par.innerText = info_text;
            };
            if (head2) {
                head2.innerText = head2_text;
            };
            if (button) {
                button.onclick = function () {
                    window.location.href = button_href;
                };
            }

        }
        function closePopup() {
            document.getElementById("popup-overlay").style.display = "none";
            document.getElementById("popup").style.display = "none";
        }

        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector("form");
            const reminder = document.getElementById("reminder");

            form.addEventListener("change", function () {
                reminder.style.display = "block";
            });
        });

        $(document).ready(function () {
            $('#refresh-button').click(function () {
                var $button = $(this);

                // Add the spinning class to the button
                $button.addClass('spinning');

                $.ajax({
                    url: '/update',
                    method: 'GET',
                    success: function (response) {
                        if (response.newest == null) {
                            $('#update-failed').css('display', 'block');
                            $('#update-info').css('display', 'none');
                            $('#current-version').css('color', '');
                            $('#newest-version').css('display', 'none');
                        } else if (response.newest != $('#current-version').text().trim()) {
                            $('#current-version').css('color', 'red');
                            $('#update-info').css('display', 'block');
                            $('#update-failed').css('display', 'none');
                            $('#newest-version').css('display', 'block');
                            $('#version-link').attr('href', response.newest_link);
                            $('#version-link').text(response.newest);
                        } else if (response.newest == $('#current-version').text().trim()) {
                            $('#version-link').attr('href', response.newest_link);
                            $('#version-link').text(response.newest);
                            $('#current-version').css('color', 'green');
                            $('#update-info').css('display', 'none');
                            $('#update-failed').css('display', 'none');
                            $('#newest-version').css('display', 'block');
                        }
                    },
                    complete: function () {
                        $button.removeClass('spinning');
                    }
                });
            });
        });


    </script>
</body>