<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href='static\css\main.css'>
    <link rel="icon" type="image/png" sizes="16x16" href="static\images\favicon.png">
</head>
{% include "header.html" %}

<body class="form-body">

    <div class="form1">
        <div class="text-container">
            <form method="post" style="margin: 5%;">
                <h1>Add Book to Library</h1>
                <div class="grid-overall">
                    <div class="empty_space">
                    </div>
                    <div class="empty_space">
                    </div>
                    <div class="empty_space">
                    </div>
                    <div class="grid">
                        <div class="grid-label">
                            <label class="label"><span class="required">*</span>Title</label>
                            <label class="label">Author(s)</label>
                            <label class="label"
                                title="An identifier, such as: &#10;LCCN (often inside the cover).&#10;ISBN (often with a barcode on the back).">
                                <span class="information">&#9432;</span>
                                ID
                            </label>
                            <label class="label">Year</label>
                            <label class="label">Publisher(s)</label>
                            <label class="label"
                                title="A list of subjects or genres covered by this book. &#10;Separate different topics with commas and spaces">
                                <span class="information">&#9432;
                                </span>
                                Subject(s)
                            </label>
                        </div>
                        <div class="grid-bar">
                            <input class="bar book_title" type="text" name="title" value="{{ title }}" required><br>
                            <input class="bar book_author" type="text" name="author" value="{{ author }}"><br>
                            <input class="bar book_id" type="text" name="book_id" value="{{ book_id }}"><br>
                            <input class="hidden book_id_type" type="text" name="id_type" value="{{ id_type }}">
                            <input class="hidden book_id_db" type="text" name="db_id" value="{{ db_id }}">
                            <input class="bar book_year" type="text" name="year" value="{{ year }}"><br>
                            <input class="bar book_publisher" type="text" name="publisher" value="{{ publisher }}"><br>
                            <input class="bar book_subjects" type="text" name="subjects" value="{{ subjects }}"><br>
                        </div>

                    </div>
                    <div class="grid-2">
                        <div class="grid-locations-name">
                            <label class="label">Address</label>
                            <label class="label">Room</label>
                            <label class="label"
                                title='An identifier that makes sense to you.&#10;I.E. "3rd from the Right" or "Bookshelf #3"'>
                                <span class="information">&#9432; </span>
                                Bookshelf
                            </label>
                        </div>
                        <div class="grid-locations-bar">
                            <input oninput="handleChange(this)" class="address bar" type="text" name="address"
                                value="{{ session['address']|default(address) }}"><br>
                            <input oninput="handleChange(this)" class="room bar" type="text" name="room"
                                value="{{ room|default(session['room']) }}"><br>
                            <input oninput="handleChange(this)" class="bookshelf bar" type="text" name="bookshelf"
                                value="{{ bookshelf|default(session['bookshelf']) }}"><br>
                        </div>
                    </div>
                    <div class="empty_space">
                    </div>
                </div>
                <div onclick="clearID()" class="submit_button">
                    <br>
                    <input type="submit" value="Submit">
                    <input type="hidden" name="button_class" value="manual">
                </div>
            </form>
            <div class="submitting" style="display: none;">
                <p>Submitting... (3)</p>
                <button onclick="cancel_submit()">Cancel</button>
            </div>
        </div>
        {% if edit is not defined or edit == False %}
        <div class="search">
            <div class="text-container">
                <form method="post" style="margin: 5%;">
                    <h1>Search for Book by ID</h1>
                    <p class="search_note" style="display: none;">Note: Dashes required in LCCNs, but not in other
                        search types</p>
                    <select onchange="show_warning()" required name="id_type" id="id_type">
                        <option {% if session['id'] not in ["isbn", "lccn" , "olid" ] %}selected{% endif %} disabled
                            value="">
                            -- Identifier Type --
                        </option>
                        <option {% if session['id']=="isbn" %}selected{% endif %} value="isbn">ISBN</option>
                        <option {% if session['id']=="lccn" %}selected{% endif %} value="lccn">Library of Congress
                        <option {% if session['id']=="olid" %}selected{% endif %} value="olid">Open Library ID
                        </option>
                    </select>
                    <input class="bar search_id" type="text" name="search_id" value="{{ search_id }}" required><br><br>
                    <div onclick="clearID()">
                        <input type="hidden" class="address" type="text" name="address"
                            value="{{ session['address']|default(address) }}">
                        <input type="hidden" class="room" type="text" name="room"
                            value="{{ room|default(session['room']) }}">
                        <input type="hidden" class="bookshelf" type="text" name="bookshelf"
                            value="{{ bookshelf|default(session['bookshelf']) }}">
                        <input type="submit" name="action" value="Search via ID">
                        <input type="hidden" name="button_class" value="auto">
                    </div>
                </form>

            </div>
        </div>
        <div class="mass_search">
            <div class="text-container">
                <form method="post" style="margin: 5%;">
                    <h1>Search for Book by Information</h1>
                    <p class="search_note">Note: Searching via Title and/or Author may take time depending on how
                        popular the title is</p>
                    <div class="searching">
                        <label class="searching-label">Search via Title:</label>
                        <input class="bar search_title" type="text" name="search_title">
                        <label class="searching-label">Search via Author:</label>
                        <input class="bar search_author" type="text" name="search_author">
                        <div><br></div>
                    </div>
                    <input type="hidden" class="address" type="text" name="address"
                        value="{{ session['address']|default(address) }}">
                    <input type="hidden" class="room" type="text" name="room"
                        value="{{ room|default(session['room']) }}">
                    <input type="hidden" class="bookshelf" type="text" name="bookshelf"
                        value="{{ bookshelf|default(session['bookshelf']) }}">
                    <input type="submit" name="action" value="Search via Title and/or Author">
                    <input type="hidden" name="button_class" value="title_author_search">
                </form>

            </div>
        </div>
    </div>
    {% endif %}
    </div>
    <script>
        var cancel = false;
        window.onload = function () {
            var urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('edit')) {
                var searchDiv = document.querySelector('.search');
                searchDiv.style.display = 'none';
            }
        };

        function clearID() {
            history.pushState({}, document.title, window.location.pathname);
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function cancel_submit() {
            cancel = true
            submit_div = document.querySelector("body > div > div.text-container > div")
            submit_div.style.display = "none"
        }

        async function countdown() {
            // console.log("yes")
            submit_p = document.querySelector("body > div > div.text-container > div > p")
            submit_div = document.querySelector("body > div > div.text-container > div")
            submit_div.style.display = "block"
            for (var i = 3; i > -1; i--) {
                // console.log(i);
                submit_p.innerText = `Submitting... (${i})`;
                await sleep(1 * 1000);
            }
            if (!cancel) {
                button = document.querySelector("body > div > div.text-container > form > div.submit_button > input[type=submit]:nth-child(2)");
                button.click()
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            // not EDIT
            b_title = document.querySelector("body > div > div.text-container > form > div.grid-overall > div.grid > div.grid-bar > input.bar.book_title").value;
            b_id = document.querySelector("body > div > div.text-container > form > div.grid-overall > div.grid > div.grid-bar > input.bar.book_id").value;
            if (!window.location.pathname.includes('/edit') && b_title != "" && b_id != "") {
                countdown();
            }
        });

        function isMobileDevice() {
            return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
        }

        function handleChange(elem) {
            // console.log("Text changed:", elem.value);
            var all_of_elem = document.querySelectorAll('.' + elem.className.split(" ")[0])
            var other_of_elem = Array.from(all_of_elem).slice(-2);
            other_of_elem.forEach(element => {
                // console.log(element)
                element.value = elem.value
            });
        }

        function show_warning() {
            value = document.querySelector("#id_type").value
            console.log(value)
            var tip = document.querySelector("body > div > div.search > div > form > p")
            if (value == 'lccn') {
                tip.style.display = "block"
            } else {
                tip.style.display = "none"
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            show_warning()
            if (isMobileDevice()) {
                var icons = document.querySelectorAll('.information');
                icons.forEach(function (icon) {
                    icon.addEventListener('click', function () {
                        var tooltipText = this.parentElement.getAttribute('title');
                        alert(tooltipText);
                    });
                });
            }
        });
    </script>
</body>

</html>