<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Required</title>
    <link rel="stylesheet" href='static\css\main.css'>
</head>
{% include "header.html" %}

<body class="login-body">
    <div class="main">
        {% if session['insufficient_perm'] %}
        <h3> {{session['description']}}; {{session['required_permission']}} or greater required </h3>
        {% endif %}
        {% if session['authenticated'] %}
        <label>You're are currently logged in as an {{ session['authenticated'] }}</label>
        <br>
        <br>
        <form action="/logout">
            <input type="submit" value="Log Out">
        </form>
        <br>
        <br>
        {% endif %}
        <br>
        <br>
        <form action="/login" method="post">
            <label>Enter Password:</label>
            <input required type="password" id="password" name="password">
            <br>
            <br>
            <input class="login-btn" type="submit" value="Login">
        </form>
    </div>
</body>