<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Required</title>
    <style>
        .main {
            margin: auto;
            text-align: center;
            padding: 100px 0;
        }
        @media only screen and (min-height: 400px) {
            body {
                padding: 25px;
            }
        }
    </style>
</head>
{% include "header.html" %}

<body>
    <div class="main">
        {% if SessionDict.authenticated %}
        <h3>Your are currently logged in as an {{ SessionDict.authenticated }}</h3>
        <form action="/logout">
            <input type="submit" value="Log Out">
        </form>
        <br>
        <br>
        {% endif %}
        <form action="/login" method="post">
            <label>Enter Password:</label>
            <input required type="password" id="password" name="password">
            <br>
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>