<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Table</title>
    <style>

    </style>
</head>

<h1>books</h1>
<table>
    <tr>
        <th>Address</th>
        <th>Room</th>
        <th>Location</th>
        <th>Identifier</th>
        <th>Type</th>
        <th>Author</th>
        <th>Year</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
    {% for book in Books %}
    <tr>
        <td>{{ book.address }}</td>
        <td>{{ book.room }}</td>
        <td>{{ book.bookshelf_location }}</td>
        <td>{{ book.identifier }}</td>
        <td>{{ book.identifier_type }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.year }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.publisher }}</td>
    </tr>
    {% endfor %}
</table>
<br>