<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <!-- DataTables CSS -->
    <link rel="icon" type="image/png" sizes="16x16" href="static\images\favicon.png">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href='static\css\main.css'>
</head>
{% include "header.html" %}
<br>
<br>
<br>
<br>

<body class="library-body">
    {% if Books | length == 0%}
    <div class="no-books">
        <h3>The Library is Empty.</h3>
        <br>
        <button class="button" onclick="location.href='/add-book';">Add Books</button>
    </div>
    {% else %}
    <table id="books" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Subjects</th>
                <th>Identifier</th>
                <th>Publisher</th>
                {% if Books and Books[0].b_id | default(-1) != -1 %}
                <th>Address</th>
                <th>Room</th>
                <th>Shelf</th>
                <th></th>
                {% else %}
                <th></th>
                <th></th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for book in Books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.year }}</td>
                <td class="truncate" id="bookSubjects" title="{{ book.subjects | e }}">{{ book.subjects }}</td>
                {% if book.identifier_type != "" %}
                <td>{{ book.identifier_type ~ ": " ~ book.identifier }}</td>
                {% else %}
                <td>{{ book.identifier }}</td>
                {% endif %}
                <td>{{ book.publisher }}</td>
                {% if Books and Books[0].b_id | default(-1) != -1 %}
                <td>{{ book.address }}</td>
                <td>{{ book.room }}</td>
                <td>{{ book.bookshelf_location }}</td>
                <td>
                    <div class="kebab-menu-container">
                        <div class="kebab-menu-icon" onclick="toggleMenu( {{ book.b_id }}, this) ">
                            ⠇
                        </div>
                        <div class="kebab-menu" id={{ book.b_id }}>
                            <a href="/edit?q={{ book.b_id }}">Edit</a>
                            <a href="/delete?q={{ book.b_id }}">Remove</a>
                            {% if book.identifier_type != "" %}
                            <a href="https://openlibrary.org/{{ book.identifier_type }}/{{ book.identifier }}">More
                                Info</a>
                            {% else %}
                            <a href="https://openlibrary.org/search?q={{ book.title }}">More Info</a>
                            {% endif %}
                        </div>
                    </div>
                </td>
                {% else %}
                <td><input type="button" onclick="location.href='/add-book?olid={{ book.identifier }}';" value="Add" />
                </td>
                <td><input type="button"
                        onclick="location.href='https://openlibrary.org/{{ book.identifier_type }}/{{ book.identifier }}';"
                        value="More Info" /></td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <script src="static/scripts/jquery-3.7.1.min.js.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {


            $('#books').DataTable({
                // "order": [[7, 'asc']],
                scrollX: true,
                scrollCollapse: true,
                scrollY: '',

                {% if Books and Books[0].b_id | default (-1) != -1 %}
                "columnDefs": [
            { "orderable": false, "targets": -1 } // Disables sorting on the last column
        ],
            {% else %}
            "columnDefs": [
            { "orderable": false, "targets": -1 }, // Disables sorting on the last column
            { "orderable": false, "targets": -2 }
        ],
            {% endif %}

            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        let column = this;
                        let title = column.header().textContent;

                        if (title != "") {

                            // Create input element
                            let input = document.createElement('input');
                            input.placeholder = title;
                            column.header().replaceChildren(input);

                            // Set the width only of these
                            if (title == "Year" || title == "Address" || title == "Room" || title == "Shelf") {
                                let width = title.length * 20; // maybe change???
                                input.style.width = width + 'px';
                            }

                            // Event listener for user input
                            input.addEventListener('click', (e) => {
                                e.stopPropagation(); // Stop the click event from propagating
                            });

                            // Event listener for user input
                            input.addEventListener('keyup', () => {
                                if (column.search() !== this.value) {
                                    column.search(input.value).draw();
                                }
                            });
                        }

                    });
            }
            });
        $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
        $('#books tbody').on('click', 'td', function () {
            $(this).toggleClass('show-subjects');
        });
        });

        function toggleMenu(menuId, event) {
            // Close all menus first
            var menus = document.getElementsByClassName("kebab-menu");
            for (var i = 0; i < menus.length; i++) {
                menus[i].style.display = "none"
            }

            var menu = document.getElementById(menuId);
            menu.style.display = "block";
            const dataTableContainer = document.querySelector('.dataTables_wrapper');
            const scrollContainer = dataTableContainer.querySelector('.dataTables_scrollBody');

            // This seems fine with no changes
            // menu.style.top = 0;

            // To move it right enough 
            menu.style.right = 0;

        }

        // Close the menu if the user clicks outside of it
        window.onclick = function (event) {
            var menus = document.getElementsByClassName("kebab-menu");
            for (var i = 0; i < menus.length; i++) {
                var menu = menus[i];
                if (!event.target.matches('.kebab-menu-icon, .kebab-menu-icon *') &&
                    !event.target.matches('.kebab-menu, .kebab-menu *')) {
                    if (menu.style.display === "block") {
                        menu.style.display = "none";
                    }
                }
            }
        }
    </script>
    {% endif %}
</body>