<style>
    .tabs {
        width: 100%;
        margin-top: 60px;
        background-color: #333;
        color: #fff;
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 0 10px;
        position: absolute;
        top: 0;
        left: 0;

    }

    .tabs nav a {
        color: #fff;
        text-decoration: none;
        margin: 10px;
    }

    .tabs nav a:hover {
        text-decoration: underline;
    }

    .nav {
        position: relative;
        z-index: 1;
    }


</style>

<body>
    <div class="tabs" id="tabs">
        <nav>
            <a id="submit" href="/">Submit</a>
            <a id="library" href="/view">Library</a>
            <a href="https://scanapp.org/">Scan</a>
        </nav>
    </div>
    <script>
        function tabChecker() {
            var currentHref = window.location.href;

            if (currentHref === "http://localhost:5000/") {
                var currentSite = document.getElementById("submit");

                currentSite.style.color = "#333";
                currentSite.style.backgroundColor = "#fff";
                currentSite.style.textDecoration = "none";
                
                
            }
            else if (currentHref === "http://localhost:5000/view") {
                var currentSite = document.getElementById("library");

                currentSite.style.color = "#333";
                currentSite.style.backgroundColor = "#fff";
                currentSite.style.textDecoration = "none";
            }
        }

        window.onload = function (){
            tabChecker();
        };
    </script>
</body>