<style>
    .tabs {
        width: 100%;
        margin-top: 60px;
        background-color: #333;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 0 10px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .tabs nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
    }

    .tabs nav a:hover {
        text-decoration: underline;
    }

    .nav {
        justify-content: right;
    }
    .empty_space {
        width: 50px;
    }
</style>
<div class="tabs">
    <nav am-layout="horizontal">
        <a href="/">Submit</a>
        <a href="/view">Library</a>
        <a href="https://scanapp.org/">Scan</a>
    </nav>
</div>